@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  ::selection {
    background-color: var(--background);
    color: var(--foreground);
  }
}

html,
body {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 5% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 10%;
    --primary: 171.1765 73.9130% 18.0392%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 240 5% 10%;
    --muted: 210 20% 96%;
    --muted-foreground: 240 3.8000% 40%;
    --accent: 210 20% 96%;
    --accent-foreground: 240 5% 10%;
    --destructive: 0 75% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3000 31.8000% 91.4000%;
    --input: 214.3000 31.8000% 91.4000%;
    --ring: 171 74% 18%;
    --chart-1: 150 70% 30%;
    --chart-2: 24 95% 55.0000%;
    --chart-3: 200 70% 50%;
    --chart-4: 40 95% 60%;
    --chart-5: 300 60% 45%;
    --sidebar: 220 10% 98%;
    --sidebar-foreground: 240 5% 10%;
    --sidebar-primary: 150 60% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 20% 94%;
    --sidebar-accent-foreground: 240 5% 10%;
    --sidebar-border: 214.3000 31.8000% 88%;
    --sidebar-ring: 150 70% 30%;
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 1.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.08;
    --shadow-color: hsl(240, 5%, 10%);
    --shadow-2xs: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.04);
    --shadow-xs: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.04);
    --shadow-sm: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.08), 0rem 1px 2px -1px hsl(240 5% 10% / 0.08);
    --shadow: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.08), 0rem 1px 2px -1px hsl(240 5% 10% / 0.08);
    --shadow-md: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.08), 0rem 2px 4px -1px hsl(240 5% 10% / 0.08);
    --shadow-lg: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.08), 0rem 4px 6px -1px hsl(240 5% 10% / 0.08);
    --shadow-xl: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.08), 0rem 8px 10px -1px hsl(240 5% 10% / 0.08);
    --shadow-2xl: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.20);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 240 10% 3.9000%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9000%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9000%;
    --popover-foreground: 0 0% 98%;
    --primary: 171.1765 73.9130% 18.0392%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7000% 15.9000%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7000% 15.9000%;
    --muted-foreground: 240 5% 64.9000%;
    --accent: 240 3.7000% 15.9000%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 75% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7000% 15.9000%;
    --input: 240 3.7000% 15.9000%;
    --ring: 171 74% 18%;
    --chart-1: 150 70% 30%;
    --chart-2: 24 95% 55.0000%;
    --chart-3: 200 70% 50%;
    --chart-4: 40 95% 60%;
    --chart-5: 300 60% 45%;
    --sidebar: 240 6% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 150 60% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7000% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7000% 15%;
    --sidebar-ring: 150 70% 30%;
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0rem;
    --shadow-y: 0.25rem;
    --shadow-blur: 1.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.30;
    --shadow-color: hsl(240, 5%, 10%);
    --shadow-2xs: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.15);
    --shadow-xs: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.15);
    --shadow-sm: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.30), 0rem 1px 2px -1px hsl(240 5% 10% / 0.30);
    --shadow: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.30), 0rem 1px 2px -1px hsl(240 5% 10% / 0.30);
    --shadow-md: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.30), 0rem 2px 4px -1px hsl(240 5% 10% / 0.30);
    --shadow-lg: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.30), 0rem 4px 6px -1px hsl(240 5% 10% / 0.30);
    --shadow-xl: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.30), 0rem 8px 10px -1px hsl(240 5% 10% / 0.30);
    --shadow-2xl: 0rem 0.25rem 1.5rem 0rem hsl(240 5% 10% / 0.75);
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}